<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <meta name="description" content="">
        <meta name="author" content="">

        <title>Barista Cafe HTML CSS Template</title>

        <!-- CSS FILES -->                
        <link rel="preconnect" href="https://fonts.googleapis.com">
        
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

        <link href="https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200;0,400;0,600;0,700;1,200;1,700&display=swap" rel="stylesheet">
            
        <link href="static/assets/css/bootstrap.min.css" rel="stylesheet">

        <link href="static/assets/css/bootstrap-icons.css" rel="stylesheet">

        <link href="static/assets/css/vegas.min.css" rel="stylesheet">

        <link href="static/assets/css/tooplate-barista.css" rel="stylesheet">
        

<!-- 
Tooplate 2137 Barista Cafe

https://www.tooplate.com/view/2137-barista-cafe

Bootstrap 5 HTML CSS Template -->


    </head>
    
    <body>
                
            <main>
                <nav class="navbar navbar-expand-lg"style="position: sticky;">                
                    <div class="container">
                        <a class="navbar-brand d-flex align-items-center" href="index.html">
                            <img src="static/assets/images/coffee-beans.png" class="navbar-brand-image img-fluid" alt="Barista Cafe Template">
                            Smart Irrigation
                        </a>
        
                        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
        
                        <div class="collapse navbar-collapse" id="navbarNav">
                            <ul class="navbar-nav ms-lg-auto">
                                <li class="nav-item">
                                    <a class="nav-link click-scroll" href="#section_1">Home</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link click-scroll" href="#section_2">Techniques</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link click-scroll" href="#section_3">Contact</a>
                                </li>

                                
                            </ul>

                            <div class="ms-lg-3">
                                <a class="btn custom-btn custom-border-btn" href="{{ url_for('predict') }}">
                                    Predict
                                    <i class="bi-arrow-up-right ms-2"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </nav>

                
                <section class="hero-section d-flex justify-content-center align-items-center" id="section_1">

                    <div class="container" >
                        <div class="row align-items-center">
                         
                            <div class="col-lg-6 col-12 mx-auto">
                                <!-- <em class="small-text">..welcome<br> to<br> Smart Irigation</em> -->
                                <br> <br><br>
                                <h2 style="color: #ffffff;">Predictive Water Pump Activation <br>by <br> Smart Irrigation System</h2>
                                <br>
                                <p class="text-white mb-4 pb-lg-2">
                                   <strong> Save <em>Water</em> Save Life.</strong>
                                </p>
                              
                                <a class="btn custom-btn custom-border-btn smoothscroll me-3" href="#section_2">
                                    why 
                                </a>
                                <p class="text-white mb-4 pb-lg-2">
                                    Smart <em>Irigation</em>
                                </p>

                                <!-- <a class="btn custom-btn smoothscroll me-2 mb-2" href="#section_3"><strong>Check Menu</strong></a> -->
                            </div>

                        </div>
                    </div>

                    <div class="hero-slides"></div>
                </section>


                <!-- <section class="about-section section-padding" id="section_2">
                    <div class="section-overlay"></div>
                    <div class="container">
                        <div class="row align-items-center">

                            <div class="col-lg-6 col-12">
                                <div class="ratio ratio-1x1">
                                    <video autoplay="" loop="" muted="" class="custom-video" poster="">
                                        <source src="videos/pexels-mike-jones-9046237.mp4" type="video/mp4">

                                        Your browser does not support the video tag.
                                    </video>

                                    <div class="about-video-info d-flex flex-column">
                                        <h4 class="mt-auto">We Started Since 2009.</h4>

                                        <h4>Best Cafe in Klang.</h4>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-5 col-12 mt-4 mt-lg-0 mx-auto">
                                <em class="text-white">Barista.co</em>

                                <h2 class="text-white mb-3">Cafe KL</h2>

                                <p class="text-white">The café had been in the town for as long as anyone could remember, and it had become a beloved institution among the locals.</p>

                                <p class="text-white">The café was run by a friendly and hospitable couple, Mr. and Mrs. Johnson. Barista Cafe is free Bootstrap 5 HTML layout provided by <a rel="nofollow" href="https://www.tooplate.com" target="_blank">Tooplate</a>.</p>

                                <a href="#barista-team" class="smoothscroll btn custom-btn custom-border-btn mt-3 mb-4">Meet Baristas</a>
                            </div>

                        </div>
                    </div>
                </section> -->


                <section class="barista-section section-padding section-bg" id="section_2">
                    <div class="container">
                        <div class="row justify-content-center">

                            <div class="col-lg-12 col-12 text-center mb-4 pb-lg-2">
                                <em class="text-white">EQUIPMENTS OF</em>

                                <h2 class="text-white">SMART IRRIGATION</h2>
                            </div>

                            <div class="box">
                                <div class="team-block-wrap">
                                    <div class="team-block-info d-flex flex-column">
                                        <div class="d-flex mt-auto mb-3">
                                            
                                            <h4 class="text-white mb-0">IoT Irrigation</h4>
                                            <br><br><br><br>

                                            <p class="badge ms-4"><em>aurdino</em></p>
                                            <br><br><br>
                                        </div>

                                        <p class="text-white mb-0">Dedicated code is written in the Embedded C in the Ardino chip to function the Water pump</p>
                                        <br><br><br>
                                    </div>

                                    <div class="Content">
                                        <img src="static/assets/images/team/smart.jpeg" class="team-block-image img-fluid" alt="">
                                    </div>
                                </div>
                            </div>
                            <br>
                            <div class="box">
                                <div class="team-block-wrap">
                                    <div class="team-block-info d-flex flex-column">
                                        <div class="d-flex mt-auto mb-3">
                                            <br><br><br>
                                            <h4 class="text-white mb-0">Sprinklers</h4>
                                            

                                            <p class="badge ms-4"><em>IoT/Aurdino</em></p>
                                        </div><br>
                                     
                                        <p class="text-white mb-0">IoT/Ardino Sprinklers works on the moisture and the temperature of the soil</p>
                                    <br><br>
                                        
                                    </div>
                                    <div class="content">
                                        <img src="static/assets/images/team/Sprinklers.jpeg" class="team-block-image img-fluid" alt="">
                                    </div>
                                </div>
                            </div>

                            <div class="box">
                                <div class="team-block-wrap">
                                    <div class="team-block-info d-flex flex-column">
                                        <div class="d-flex mt-auto mb-3">
                                            <h4 class="text-white mb-0">Garden Sprinklers</h4>
                                            <br> 
                                            <p class="badge ms-4"><em>MC</em></p>
                                        </div>
                                        <br>
                                        <p class="text-white mb-0">Garden sprinklers works by using Micro controllers. These controllers contains code of c   used for functioning of water pump</p>
                                        <br><br><br>
                                    </div>
                                    

                                    <div class="content">
                                        <img src="../static/assets/images/team/sprinkler.jpeg" class="team-block-image img-fluid" alt="">
                                    </div>
                                </div>
                            </div>

                            <div class="box">
                                <div class="team-block-wrap">
                                    <div class="team-block-info d-flex flex-column">
                                        <div class="d-flex mt-auto mb-3">
                                            <br> <br><br><br>
                                            <h4 class="text-white mb-0">Moisture</h4>
                                            <br> <br>

                                            <p class="badge ms-4"><em>sensors</em></p>
                                        </div>
                                        <br><br>
                                        <p class="text-white mb-0">Sensors find the rangee of moisture.Based on it water is pumped to field.</p>
                                        <br><br>
                                    </div>
                                    
                                    <div class="content">
                                        <img src="../static/assets/images/team/moisture.jpeg" class="team-block-image img-fluid" alt="">
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </section>


                <!-- <section class="menu-section section-padding" id="section_3">
                    <div class="container">
                        <div class="row">

                            <div class="col-lg-6 col-12 mb-4 mb-lg-0">
                                <div class="menu-block-wrap">
                                    <div class="text-center mb-4 pb-lg-2">
                                        <em class="text-white">Delicious Menu</em>
                                        <h4 class="text-white">Breakfast</h4>
                                    </div>

                                    <div class="menu-block">
                                        <div class="d-flex">
                                            <h6>Pancakes</h6>
                                        
                                            <span class="underline"></span>

                                            <strong class="ms-auto">$12.50</strong>
                                        </div>

                                        <div class="border-top mt-2 pt-2">
                                            <small>Fresh brewed coffee and steamed milk</small>
                                        </div>
                                    </div>

                                    <div class="menu-block my-4">
                                        <div class="d-flex">
                                            <h6>
                                                Toasted Waffle
                                            </h6>
                                        
                                            <span class="underline"></span>

                                            <strong class="text-white ms-auto"><del>$16.50</del></strong>

                                            <strong class="ms-2">$12.00</strong>
                                        </div>

                                        <div class="border-top mt-2 pt-2">
                                            <small>Brewed coffee and steamed milk</small>
                                        </div>
                                    </div>

                                    <div class="menu-block">
                                        <div class="d-flex">
                                            <h6>Fried Chips
                                                <span class="badge ms-3">Recommend</span>
                                            </h6>
                                        
                                            <span class="underline"></span>

                                            <strong class="ms-auto">$15.0</strong>
                                        </div>

                                        <div class="border-top mt-2 pt-2">
                                            <small>Rich Milk and Foam</small>
                                        </div>
                                    </div>

                                    <div class="menu-block my-4">
                                        <div class="d-flex">
                                            <h6>Pancakes</h6>
                                        
                                            <span class="underline"></span>

                                            <strong class="ms-auto">$12.50</strong>
                                        </div>

                                        <div class="border-top mt-2 pt-2">
                                            <small>Fresh brewed coffee and steamed milk</small>
                                        </div>
                                    </div>

                                    <div class="menu-block">
                                        <div class="d-flex">
                                            <h6>Banana Cakes</h6>
                                        
                                            <span class="underline"></span>

                                            <strong class="ms-auto">$18.0</strong>
                                        </div>

                                        <div class="border-top mt-2 pt-2">
                                            <small>Rich Milk and Foam</small>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-6 col-12">
                                <div class="menu-block-wrap">
                                    <div class="text-center mb-4 pb-lg-2">
                                        <em class="text-white">Favourite Menu</em>
                                        <h4 class="text-white">Coffee</h4>
                                    </div>

                                    <div class="menu-block">
                                        <div class="d-flex">
                                            <h6>Latte</h6>
                                        
                                            <span class="underline"></span>

                                            <strong class="text-white ms-auto"><del>$12.50</del></strong>

                                            <strong class="ms-2">$7.50</strong>
                                        </div>

                                        <div class="border-top mt-2 pt-2">
                                            <small>Fresh brewed coffee and steamed milk</small>
                                        </div>
                                    </div>

                                    <div class="menu-block my-4">
                                        <div class="d-flex">
                                            <h6>
                                                White Coffee
                                                <span class="badge ms-3">Recommend</span>
                                            </h6>
                                        
                                            <span class="underline"></span>

                                            <strong class="ms-auto">$5.90</strong>
                                        </div>

                                        <div class="border-top mt-2 pt-2">
                                            <small>Brewed coffee and steamed milk</small>
                                        </div>
                                    </div>

                                    <div class="menu-block">
                                        <div class="d-flex">
                                            <h6>Chocolate Milk</h6>
                                        
                                            <span class="underline"></span>

                                            <strong class="ms-auto">$5.50</strong>
                                        </div>

                                        <div class="border-top mt-2 pt-2">
                                            <small>Rich Milk and Foam</small>
                                        </div>
                                    </div>

                                    <div class="menu-block my-4">
                                        <div class="d-flex">
                                            <h6>Greentea</h6>
                                        
                                            <span class="underline"></span>

                                            <strong class="ms-auto">$7.50</strong>
                                        </div>

                                        <div class="border-top mt-2 pt-2">
                                            <small>Fresh brewed coffee and steamed milk</small>
                                        </div>
                                    </div>

                                    <div class="menu-block">
                                        <div class="d-flex">
                                            <h6>Dark Chocolate</h6>
                                        
                                            <span class="underline"></span>

                                            <strong class="ms-auto">$7.25</strong>
                                        </div>

                                        <div class="border-top mt-2 pt-2">
                                            <small>Rich Milk and Foam</small>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </section> -->


                <section class="reviews-section section-padding section-bg" id="section_3">
                    <div class="container">
                        <div class="row justify-content-center">

                            <div class="col-lg-12 col-12 text-center mb-4 pb-lg-2">
                               

                                <h2 class="text-white">Contact Details</h2>
                            </div>

                        
                <section class="contact-section section-padding" id="section_4">
                    <div class="container">
                        <div class="row">   

                            <div class="col-lg-12 col-12">
                                <em class="text-white">Say Hello</em>
                                <h2 class="text-white mb-4 pb-lg-2">Contact</h2>
                            </div>

                            <div class="col-lg-6 col-12">
                                <form action="#" method="post" class="custom-form contact-form" role="form">

                                <div class="row">
                                    
                                    <div class="col-lg-6 col-12">
                                        <label for="name" class="form-label">Name <sup class="text-danger">*</sup></label>

                                        <input type="text" name="name" id="name" class="form-control" placeholder="Jackson" required="">
                                    </div>

                                    <div class="col-lg-6 col-12">
                                        <label for="email" class="form-label">Email Address</label>

                                        <input type="email" name="email" id="email" pattern="[^ @]*@[^ @]*" class="form-control" placeholder="Jack@gmail.com" required="">
                                    </div>

                                    <div class="col-12">
                                        <label for="message" class="form-label">How can we help?</label>

                                        <textarea name="message" rows="4" class="form-control" id="message" placeholder="Message" required=""></textarea>
                                        
                                    </div>
                                </div>

                                <div class="col-lg-5 col-12 mx-auto mt-3">
                                    <button type="submit" class="form-control">Send Message</button>
                                </div>
                            </form>
                            </div>

                            <div class="col-lg-6 col-12 mx-auto mt-5 mt-lg-0 ps-lg-5">
                                <iframe class="google-map" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d5039.668141741662!2d72.81814769288509!3d19.043340656729775!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3be7c994f34a7355%3A0x2680d63a6f7e33c2!2sLover%20Point!5e1!3m2!1sen!2sth!4v1692722771770!5m2!1sen!2sth" width="100%" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>  
                            </div>

                        </div>
                    </div>
                </section>


                <footer class="site-footer">
                    <div class="container">
                        <div class="row">

                            <div class="col-lg-4 col-12 me-auto">
                                <em class="text-white d-block mb-4">Where to find us?</em>

                                <strong class="text-white">
                                    <i class="bi-geo-alt me-2"></i>
                                    Gachibowli,Hyderabad,Telangana 500032, India
                                </strong>

                                <ul class="social-icon mt-4">
                                    <li class="social-icon-item">
                                        <a href="#" class="social-icon-link bi-facebook">
                                        </a>
                                    </li>
        
                                    <li class="social-icon-item">
                                        <a href="https://x.com/minthu" target="_new" class="social-icon-link bi-twitter">
                                        </a>
                                    </li>

                                    <li class="social-icon-item">
                                        <a href="#" class="social-icon-link bi-whatsapp">
                                        </a>
                                    </li>
                                </ul>
                            </div>

                            <div class="col-lg-3 col-12 mt-4 mb-3 mt-lg-0 mb-lg-0">
                                <em class="text-white d-block mb-4">Contact</em>

                                <p class="d-flex mb-1">
                                    <strong class="me-2">Phone:</strong>
                                    <a href="tel: 305-240-9671" class="site-footer-link">
                                        (65) 
                                        305 2409 671
                                    </a>
                                </p>

                                <p class="d-flex">
                                    <strong class="me-2">Email:</strong>

                                    <a href="mailto:info@yourgmail.com" class="site-footer-link">
                                        hello@smart_irrigation.co
                                    </a>
                                </p>
                            </div>


                        

                            <div class="col-lg-8 col-12 mt-4">
                                <p class="copyright-text mb-0">Copyright © Smart_Irrigation 2024</p>
                            </div>
                    </div>
                </footer>
            </main>

        <!-- JAVASCRIPT FILES -->
        <script src="js/jquery.min.js"></script>
        <script src="js/bootstrap.min.js"></script>
        <script src="js/jquery.sticky.js"></script>
        <script src="js/click-scroll.js"></script>
        <script src="js/vegas.min.js"></script>
        <script src="js/custom.js"></script>

    </body>
</html>